fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
groq
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
numpy
requests